@import url("//fonts.googleapis.com/css?family=Open+Sans:400,300,700");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}
body {
    line-height: 1
}
ol,
ul {
    list-style: none
}


ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0
}

body {
    color: rgba(51, 51, 51, 0.8);
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-feature-settings: "kern", "liga", "pnum";
    font-size: 1em;
    line-height: 1.5
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1em;
    line-height: 1.2;
    margin: 0 0 .75em;
    font-weight: 300
}
h1 {
    font-size: 1.875rem
}
h2 {
    font-size: 1.625rem
}
h3 {
    font-size: 1.5rem
}
h4 {
    font-size: 1.25rem
}
h5,
h6 {
    font-size: 1rem
}
p {
    margin: 0 0 .75em
}
p.lead {
    font-size: 1.375rem;
    font-weight: 300
}
a {
    color: #ec2028;
    text-decoration: none;
    transition: color 150ms ease
}
a:active,
a:focus,
a:hover {
    color: #b1181e
}
hr {
    border-bottom: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: 1.5em 0
}

html,
body {
    width: 100%;
    height: 100%
}

.site-footer {
    *zoom: 1
}
.site-footer:before {
    content: " ";
    display: table
}
.site-footer:after {
    content: " ";
    display: table;
    clear: both
}
body {
    background-color: #fff;
    font-weight: 400
}
hr {
    border-top: none;
    border-bottom: 2px solid #dedede;
    width: 100%;
    margin: .75em 0
}
.container {
    padding: 1.5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px
}
.upcoming {
    width: 100%;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: inline-block;
    padding: 0.6em 0.6em
}
.anchor {
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: hidden
}
h2.linked {
    position: absolute;
    top: -80px
}
.pull-left {
    float: left
}
.pull-right,
.share {
    float: right
}
.link,
.intro a,
.navbar a,
.post-link,
.post a,
.page a,
.site-footer a {
    display: inline-block;
    padding-bottom: .08em;
    border-bottom: 2px solid #ccc;
    -webkit-transition: border 300ms linear;
    -moz-transition: border 300ms linear;
    transition: border 300ms linear
}
.link:hover,
.intro a:hover,
.navbar a:hover,
.page a:hover,
.site-footer a:hover,
.link:focus,
.intro a:focus,
.navbar a:focus,
.page a:focus,
.site-footer a:focus,
.link:active,
.intro a:active,
.navbar a:active,
.page a:active,
.site-footer a:active {
    border-color: #b3b3b3
}
.header-cont {
    width: 100%;
    position: fixed;
    display: inline-block;
    background-color: #fff;
    top: 0px;
    border-top: 5px solid #ccc;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: .75em;
    min-height: 80px
}
.site-header {
    min-height: 80px
}
.intro .author-name {
    background-color: #ec2028;
    color: #fff;
    display: inline-block;
    padding: 0 .3em
}
.logo {
    float: left;
    margin: 0 0 1em 0;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700
}
.logo span {
    font-weight: 300
}
.nav {
    min-height: 64px
}
.navbar {
    float: right;
    margin: 0;
    position: relative;
    padding: 0;
    pointer-events: all;
    cursor: pointer
}
.navbar li {
    display: inline-block;
    padding: 0 .6em
}
.site-footer {
    padding: 1.5em 0
}
.site-footer small {
    display: block;
    font-size: .75rem;
    color: gray
}
