/*#index-banner {
    background-image: url("http://d.ibtimes.co.uk/en/full/1423089/russian-soldiers-flying-red-flag-made-table-cloths-over-ruins-reichstag-berlin.jpg");
}*/
#index-banner::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 400px;
  background-position: 0 -230px;
  /*background-image: url("http://d.ibtimes.co.uk/en/full/1423089/russian-soldiers-flying-red-flag-made-table-cloths-over-ruins-reichstag-berlin.jpg");*/
}
#index-banner h4 span {
    font-size:20px;
}


#committee.collection {
    border: 0;
}
.collection .collection-item {
    border-bottom: 0px solid #e0e0e0;
}

#committee a {
    font-size:16px;
}
#committee span{
    font-size:12px;
}

.anchor {
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: hidden
}
.brand-logo {
    text-transform: uppercase;
    font-weight: 400
}
.brand-logo span {
    font-weight: 100
}

.banner-bg {
background: #ffffff;
background:
linear-gradient(-45deg, transparent 75%, #311b92 75%) 0 0,
linear-gradient(135deg, transparent 75%, #311b92 75%) 0 0,
#ffffff;
background-size: 60px 60px
}

.banner-bg-2 {
background: #311b92;
background:
linear-gradient(135deg, transparent 75%, #ffffff 0%) 0 0,
linear-gradient(-45deg, transparent 75%, #ede7f6 0%) 0 0,
linear-gradient(-45deg, transparent 75%, #ede7f6 0%) 60px 0,
linear-gradient(-45deg, transparent 75%, #ede7f6  0%) 0px 60px,
linear-gradient(-45deg, transparent 75%, #ede7f6 0%) 60px 60px,
#b39ddb;
background-size: 120px 120px
}

.line-separator{
height:1px;
background:#717171;
border-bottom:1px solid #313030;
}